
@font-face {
        font-family: "RobotoCondensed-Regular";
        src: url(font/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "RobotoCondensed-Light";
    src: url(font/RobotoCondensed-Light.ttf);

}

@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url(font/RobotoCondensed-Bold.ttf);

}

/*Media Queries*/

@media (min-width: 400px) and (max-width: 700px){
    body {
        background-color: blue;
    }
}

/*Estructuras para Cabezera y Body! */

body{
    background-color: rgb(201, 201, 201);
}


.cabezera{
    font-family: "RobotoCondensed-Bold";
    background-color: rgb(192, 83, 83);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/*Estructuras del Contendio(cont)*/

main{
    background-color: rgb(161, 161, 161);
    padding: 15px 10px 15px 10px;
    margin:auto
}

ul{
    padding-top: 10px;
    font-family: "RobotoCondensed-Regular";   
}



footer{
    background-color:rgb(192, 83, 83) ;
}

/*Contenido de Video*/



.noti{
    margin-top: 30px;
    font-family: "RobotoCondensed-Regular";
}

/*Estructura Bio*/

.desc{
    margin-top: 30px;
    font-family: "RobotoCondensed-Regular";
    font-size: 20px;
}

footer{
    font-family: "RobotoCondensed-Light" ;
}



